

.navbar-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px;
    border: 1px solid #e5e7eb;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.logo-container {
    width: 100px;
}

.logo-img {
    cursor: pointer;
}

//responsiveness

@media (min-width: 960px) {
    .logo-container {
        width: 130px;
    }
}